<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1>Test</h1>

  <input type="file" id="fileupload" name="fileupload" (change)="fileSet($event)">
  <ul style="list-style-type: none;">
    <li *ngFor="let file of ts.fileOffers;">
      <div class="eachFile">
        <span class="bigger">{{file.name}}</span>
        <button *ngIf="iOwnThisFile(file.owner)" (click)="download(file.owner, file.id)" class="pushable">
          <span class="shadow"></span>
          <span class="edge"></span>
          <span class="front">
            Download
          </span>
        </button>
        <button *ngIf="iDontOwnThisFile(file.owner)"(click)="deleteFile(file.id)" class="pushable">
          <span class="shadow"></span>
          <span class="edge"></span>
          <span class="front">
            X
          </span>
        </button>
      </div>
    </li>
  </ul>
</body>

</html>